body {
 background-color: #d093f8;
 font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

header{
    background-color: #ba5df7;
    color:#fcfcfc;
    text-align: center;
    padding: 20px;

}
header a {
    text-decoration:none ;
   color: #FFF;
   background-color: #a163ca;
   padding:5px 20px;
   border-radius: 6px;
}
header a:hover{
     background-color: rgb(105, 47, 149);
}
h1{
    /* top righ bottom left */
    margin: 0 0 10px 0;
    /* margin-bottom: 10px; */
}

main{
    padding:  16px;
}

section{
    background-color: #dfbcf6;
    padding: 16px;
    border-radius: 16px;
    margin: 10px 0;
}

section h2 {
    border-bottom: 6px solid rgb(139, 86, 153);
}




/*  Para referenciar ID é com # */
#exemploid {
    background-color: rgb(217, 122, 246);
}




/* para referenciar classe é com . */
.exemploclass{
    background-color: rgb(172, 91, 190);
}